// contact section
.contact{
    background: $third-color;
    min-height: 20vh;
    
    .wrapper{
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        max-width: 80vw;;
    }
    
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: $first-color;
        text-transform: uppercase;
        font-family: $first-Font;
    }

    form{
    color: $first-color;
    text-align: center;
    
    
    
    p{
        font-family: $first-Font;
        text-transform: uppercase;
        font-size: 1.2rem;
    }
    
    }

    .input-email{
        display: flex;
        margin-top: 2%;
        
        input{
            padding: 10px 30px;
            width: 400px;
            
        }
        button{
            padding: 10px 30px;
            background-color:black ;
            text-align: center;
            color: $first-color;
            font-family: $first-Font;
            text-transform: uppercase;
            border: 1px solid black;
            
        }
    }


    .info{
    color: $first-color;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: $first-Font;
    p{
        text-transform: uppercase;
        font-family: $first-Font;
        font-size: 1.2rem;
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-family: $third-Font;
        font-size: 0.9rem;
        
    }


}

}


// footer style
footer{
    background-color: black;
    font-family: $third-Font;
    color: $first-color;
    min-height: 10vh;
    .wrapper{
        justify-content: center;
    }
}