
header{
    background-image: url(./image-1.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    .wrapper{
        padding: 10px;
        display: flex;
        justify-content: space-between;
        padding: 0 10vw
    }
    
}
h1{
    font-family: 'Fredericka the Great', cursive;
    font-size: 6.6rem;
    text-transform: uppercase;
    max-width:60vw ;
    text-align: right;
    flex-basis: 48%;
    color: $first-color;
    font-weight: 400;
}
// regular nav
nav{
    flex-basis: 48%;
}

nav ul{
    display: flex;
    display: flex;
    justify-content: space-around;
    
    li{
        list-style: none;
        transition: 0.3s;
            &:hover{
                scale: 1.1;
            }
        
        
    }
    a{
        text-decoration: none;
        text-transform: uppercase;
        font-family:$first-Font;
        font-size: 1.25rem;
        color: $first-color;
    }
}
// mobile nav
.collapsible-menu {
    color: $third-color;
    position: fixed;
    right: 5vw;
    top: 5vh;
    font-family: $second-Font;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: end;
    z-index: 10;
    
}
.collapsible-menu ul {
    list-style-type: none;
    li{
        transition: 0.3s;
        &:hover{
            scale: 1.1;
        }
    }   
}
.collapsible-menu a {
    display:block;
    color: $first-color;
    text-decoration: none;
    padding: 15px;
    
    
    
}
.collapsible-menu label {
    display: block;
    cursor: pointer;
    width: 30%;
    position: absolute;
    right:15px;
    
}
input#menu {
    display: none;
}

.menu-content {
    max-height: 0;
    overflow: hidden;
     
    
}
/* Toggle Effect */

input:checked ~ .menu-content {
    max-height: 100%;
}



// responsive 
@media (max-width: 900px) {
    header{
        background-image: url(./image-1.jpg);
        background-size: cover;
        background-position: left 15% bottom 45%;;
        height: 100vh;
        background-attachment: fixed
    }
    
    
    .wrapper{
        flex-wrap: wrap;
        position: relative;
    }
    h1{
        position: absolute;
        top: 0;
        font-size: 3rem;
        text-align: start;
    }

    nav{
        display: none;
        
    }

    
}

@media (min-width: 900px){

    .collapsible-menu{
        display: none;
        
    
    }
}

@media (max-width: 400px){
    
    header{
        background-image: url(./image-1.jpg);
        background-size: cover;
        background-position: left 29% bottom 40%;;
        background-attachment: fixed
    }
    
    
    
    h1{
        position: absolute;
        top: 0;
        font-size: 2rem;
        text-align: start;
    }
}

