// about section

.about{
    background-color: $third-color;
    
    .wrapper{
        padding: 5% 15%;
    }
    .image-container{
        flex-basis: 35%;
        margin-right: 5%;
    }

    .text-container{
        flex-basis: 65%;
    }

    h2{
        margin-top: -1%;
        font-family: $second-Font;
        text-transform: uppercase;
        font-size: 2.8rem;
        font-weight: 400;
        color: $first-color;
        text-align: justify;
        margin-bottom: 1%;
    }
    p{
        font-family: $third-Font;
        color: $first-color;
        font-size: 1.1rem;
        line-height: 29px;
    }

    button{
        font-family: $first-Font;
        text-align: center;
        line-height: 29px;
        border: 1px solid white;
        padding: 10px 30px;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 1.5%;
    }
}




// gallery section

.gallery{
    background-color: $second-color;
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    
    
    
    .wrapper{
        justify-content: center;
        flex-direction: column;
        
        margin-top: -2.5%;

    }
    
    h2{
        font-size: 2.8rem;
        font-family: $second-Font;
        text-align: center;
        display: block;
        text-transform: uppercase;
        margin-bottom: 8%;
        color: $third-color;
        font-weight: 400;
        span{
            display: block;
        }
        
    }
    
    .animals-image{
        display: flex;
        width: 90%;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    
    .image-container{
        flex-basis: 30%;
    }
}



@media (max-width: 900px) {
    .about{
        
        display: flex;
    }
    
    .wrapper{
        justify-content: center;

        h2{
            font-size: 2.2rem;
        }
        .image-container{
            margin: 0;
            flex-basis: auto;
        }
        
    }


    .gallery{

        
        .image-container{
            width: 75%;
            margin: 0 auto;
            padding: 10px;
        }
    }
}

@media (max-width: 400px) {
    .about{
        
        .wrapper{
            padding: 25% 5%;
        }
            .text-container{
                width: 100%;
                margin-top: 10%;
                position: relative;
                h2{
                    font-size: 2rem;
                }
                P{
                    font-size: 1.1rem;
                }
            }
    }
}   