// font-family: 'Cormorant Garamond', serif;

// font-family: 'Fredericka the Great', cursive;

// font-family: 'Roboto', sans-serif;
// font fam
$first-Font: 'Cormorant Garamond', serif;

$second-Font: 'Fredericka the Great', cursive;

$third-Font: 'Roboto', sans-serif;
// color list
$first-color: #FCFCFC;

$second-color: #C3D3CB;

$third-color: #152D20;
