@import 'setup';
@import 'variables';
@import 'header';
@import 'main-first-half';
@import 'main-second-half';
@import 'contact-footer';



.wrapper{
    margin: 0 auto;
    padding: 0;
    display: flex;
    
}

img{
    height: 100%;
    display: block;
}

html{
    font-size: 125%;
}

@media (max-width: 900px) {
    .wrapper{
        flex-wrap: wrap;
    }
}