@import 'setup';
@import 'variables';
@import 'header';
@import 'main-first-half';
@import 'main-second-half';
@import 'footer';



.wrapper{
    margin: 0 auto;
    padding: 0;
    display: flex;
    
}

img{
    height: 100%;
    display: block;
}

html{
    font-size: 125%;
}
